#earth-logo:hover {
    cursor: url("/images/earth.png"), pointer;
}

#earth-nav {
    display: none;
    bottom: 0px;
}

#earth-nav .nav-link {
    width: 40%;
}

#earth-nav svg {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
}

#earth-nav h1 {
    /*position: relative;
    bottom: -50px;*/
    text-align: center;
    color: white;
    font-size: 1rem;
}

#earth-section {
    display: block;
    height: 0;
    padding: 0;
}

#earth-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#country-name.day {
    display: none;
    margin:0;
}

#country-name.night {
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

.countryPopup {
    padding: 2px;
    display: none;
    position: fixed;
    color: white;
    background-color: #000000;
    background-color: #10101077;
    font-size: 1rem;
    border: solid 2px white;
    border-radius: 3px;
    text-align: center;
}


@media screen and (min-device-width: 0px) and (max-device-width: 550px) {
    #earth-nav .nav-link {
        width: 49%;
    }

    #country-name.night {
        font-size: 3rem;
    }
}
