.ac {
    display: none;
}

#earth-logo:hover {
    cursor: pointer;
}

#earth-nav {
    display: none;
}

#earth-nav .nav-link {
    width: 40%;
}

#earth-nav.night {
    display: block;
}

#earth-section {
    display: none;
    height: 0;
    padding: 0;
}

#earth-section.night {
    display: block;
}

#earth-div {
    position: fixed;
    /*top: 3em;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#country-name.day {
    display: none;
    margin:0;
}

#country-name {
    display: block;
    font-size: 1em;
    height: 1.2rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

#country-popup {
    padding: 2px;
    display: none;
    position: fixed;
    font-size: 0.6rem;
    text-align: center;
    width: 150px;
    z-index: 1000;
    pointer-events: none;
}

#nav-switch:hover #country-popup {
    display: none;
}

#country-popup img {
    position: absolute;
    bottom: 0;
    left: 0;
}

#text-wrap {
    position: absolute;
    bottom: 50px;
    left: 25px;
    width: 130px;
    height: 70px;
    text-align: center;
}

@media screen and (min-device-width: 0px) and (max-device-width: 550px) {

    #country-name.night {
        font-size: 1em;
    }

    .countryPopup {
        font-size: 3rem;
        padding: 0.2rem;
        border: solid 6px white;
        border-radius: 6px;
    }

    #earth-nav {
        top: 7.2rem;
        background-color: #000000;
    }
}

@media screen and (min-device-width: 0px) and (max-device-width: 280px) {
    #earth-nav .nav-link {
        width: 100%;
    }
}
