/* #C4C4C4
 * #D1BCD1
 * #F07C24
 * mark_my_words
 * Josefin Slab
 */

@font-face {
    font-family: mark_my_words;
    src: url('/fonts/mark_my_words.otf');
}

@font-face {
    font-family: lemon;
    src: url('/fonts/Lemon Tuesday.otf');
}


/* reset */

* {
}

html {
    height: 100%;
    font-family: Josefin Slab, "Open Sans", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #F06800;
    text-decoration: none;
    outline: none;
}

/*
 * Classes
 */

.script-font {
    font-family: lemon, "Open Sans", sans-serif;
}

.funky-link {
}

.funky-link a {
    color: #5344CC;
}

.funky-link a:hover {
    color: #FFA265;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #EEEEEE;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    width: 70%;
    margin: auto;
    font-size: 0;
    /*box-sizing: border-box;*/
    z-index: -2;
}

.light-switch {
    color: #030303;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

header {
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
}

header.day {
    background: #EEEEEE; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EEEEEEFF, #EEEEEEFF, #EEEEEEFF, #EEEEEE00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEEEEEFF, #EEEEEEFF, #EEEEEEFF, #EEEEEE00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEEEEEFF, #EEEEEEFF, #EEEEEEFF, #EEEEEE00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEEEEEFF, #EEEEEEFF, #EEEEEEFF, #EEEEEE00); /* Standard syntax */
}

header.night {
    background: #000000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000000FF, #000000FF, #000000FF, #00000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000FF, #000000FF, #000000FF, #00000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000FF, #000000FF, #000000FF, #00000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000FF, #000000FF, #000000FF, #00000000); /* Standard syntax */
}

#header-wrap {
    position: relative;
    width: 70%;
    margin: auto;
}

#main-title {
    font-size: 0.6rem;
    background-color: inherit;
    position: absolute;
    width: 40%;
    margin: auto;
    text-align: center;
    /*top: 10px;*/
}

#second-title {
    font-size: 0.6rem;
    background-color: inherit;
    position: absolute;
    width: 40%;
    right: 0;
    margin: auto;
    color: #636363;
    text-align: center;
    /*top: 10px;*/
}

#main-title a h1 {
    margin-bottom: 0;
}

#main-undertitle {
    display: inline-block;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
}

#main-undertitle img.underline {
    height: 70px;
    display: inline-block;
    width: 40%;
}

#main-undertitle img.earth {
    height: 70px;
    display: inline-block;
    width: 20%;
}

nav {
    position: absolute;
    bottom: 50px;
    width: 100%;
    /*z-index: -1;*/
}

nav ul {
    padding: 0;
}

nav ul li.nav-link {
    font-size: 1.3rem;
    display: inline-block;
    width: 20%;
    text-align: center;
    list-style-type: none;
}

nav ul li.nav-dumb {
    display: inline-block;
    width: 20%;
}

section h1:first-child {
    text-align: center;
}

section {
    font-size: 10px;
    padding-top: 120px;
    padding-bottom: 50px;
}

article {
    font-size: 1rem;
    width: 80%;
    margin: auto;
}

article a {
    color: #F07C24;
}

article figure {
    position: relative;
    margin: auto;
    width: 100%;
    /*background-image: url("/AroundTheWorld/images/polaroid.png");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100%;
}

article figure img {
    position: relative;
    width: 40%;
    /*margin-top: 12%;
    margin-bottom: 20%;*/
    height: auto;
    z-index: -1;
}

article figure figcaption {
    position: relative;
    text-align: center;
    font-size: 0.7rem;
}

article .article {
    display: inline-block;
    width: 100%;
    font-family: Josefin Slab;
}

article .post {
    display: inline-block;
    width: 100%;
    font-family: Josefin Slab;
}

.item-ratio {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
}

.item-ratio:before {
    display: block;
    content: "";
    margin-top: 61.8%;
}

.item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item-frame svg {
    fill: #FFFFFFBB;
    stroke: none;
}

.item-frame {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.7) inset;
}

.item-shape {
    position: absolute;
    display: block;
    bottom: 0;
}

.item-image {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 100%;
    display: block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    -webkit-transition: -webkit-filter 1s; /* Safari */
    transition: filter 1s;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.item:hover .item-image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.item-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 2vw;
    color: #454545;
}

.item-title h4 {
    margin: 0;
    -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
}

.item:hover .item-title h4 {
    /*font-size: 3em;*/
}

.article {
    width: 30%;
}

.post {
    width: 30%;
}

.page {
    width: 30%;
}

aside {
    text-align: center;
}

#disqus-section {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: inline-block;
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0px;
    height: 50px;
}

#legal-notice {
    text-align: center;
}

#legal-notice p {
    font-size: 0.6rem;
}

@media screen and (max-device-width: 980px) {

    body {
        width: 100%;
    }

    #header-wrap {
        width: 100%;
    }

    .item-title {
        font-size: 3vw;
    }
}

@media screen and (min-device-width: 0px) and (max-device-width: 550px) {
       .item-ratio {
           width: 47%;
       }

       .item-title {
           font-size: 4vw;
       }

       #main-undertitle img.underline {
           display: none;
       }

       #second-title {
           display: none;
       }

       #nav-wrap {
           width: 40%;
           height: 60px;
           position: absolute;
           right: 0px;
           top: 10%;
           background-image: url("/images/menu.png");
           background-size: contain;
           background-repeat: no-repeat;
           background-position: center;
           text-align: center;

       }

       #main-title {
           top:20px;
       }


       #nav-wrap:hover nav {
           height: 170px;
       }

       nav {
           background-color: #EEEEEE77;
           position: absolute;
           top: 100%;
           width: 100%;
           height: 0px;
           overflow: hidden;
           transition: height 1s;
       }

       nav ul {
           display: block;
       }

       nav ul li.nav-link {
           position: static;
           display: block;
           width: 100%;
           margin-bottom: 10px;
       }

       nav ul li.nav-link a {
           text-overflow: clip;
       }
}

@media screen and (min-device-width: 0px) and (max-device-width: 400px) {
    #main-title {
        font-size: 0.4rem;
    }

}

@media screen and (min-device-width: 0px) and (max-device-width: 280px) {
       .item-ratio {
           width: 97%;
       }

       .item-title {
           font-size: 7vw;
       }
}

