/* #C4C4C4
 * #D1BCD1
 * #F07C24
 * mark_my_words
 * Josefin Slab
 */

@font-face {
    font-family: mark_my_words;
    src: url('/fonts/mark_my_words.otf');
}

@font-face {
    font-family: lemon;
    src: url('/fonts/Lemon-Tuesday.otf');
}

@font-face {
    font-family: adventure;
    src: url('/fonts/Adventure.otf');
}

@font-face {
    font-family: optimus;
    src: url('/fonts/OptimusPrincepsSemiBold.ttf');
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* reset */

* {
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-family: Josefin Slab, "Open Sans", sans-serif;
    font-size: 1em;
    margin = 0;
    padding = 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

a {
  color: #5344CC;
  text-decoration: none;
  margin: 0;
}

.funky-link a:hover, a:focus, a:active {
    color: #FFA265;
    text-decoration: none;
    outline: none;
}

.funky-link.night a:hover, a:focus, a:active {
    color: #FFA265;
    text-decoration: none;
    outline: none;
}

/*
 * Classes
 */

.day {
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.night {
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;
}

.script-font {
    font-family: optimus, "Open Sans", sans-serif;
}

body {
    background-color: #EEEEEE;
    padding: 0;
    width: 70%;
    margin: auto;
}

#background {
    display: none;
}


#container {
    background-color: #EEEEEE;
    position: relative;
    min-height: 100%; /* to achieve sticky footer */
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 10px 10px rgb(238,238,238);
}

body.night {
    background-color: #000000;
}

header.day {
    background-image: url(/images/header.svg);
}

header.night {
    background-image: url(/images/header-night.svg);
}

header {
    position: fixed;
    width: 100%;
    margin: auto;
    left: 0;
    top: 0;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: top;
    -moz-background-size: 100% 100%;
    -webkit-background-size:100% 100%;
    background-size: auto 100%;
    text-align: center;
}

#header-wrap {
    position: relative;
    width: 70%;
    margin: auto;
    height: 7em;
}

.main-title {
    font-size: 0.6em;
    position: absolute;
    background-color: inherit;
    width: 40%;
    height: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
    text-align: center;
    border-bottom: solid 2px grey;
}

.main-title.night {
    border-bottom: solid 2px white;
}

.main-title a {
    color: black;
}

.main-title.night a {
    color: white;
}

#first-title {
    left: 0;
}

#second-title {
    right: 0;
}

#main-undertitle {
    position: relative;
    height: 66%;
    text-align: center;
    padding-top: 0.5%;
    margin: auto;
    max-width: 13%;
    z-index: 1;
}

#earth-logo {
    width: 100%;
    height: 100%;
    background-image: url(/images/earth.svg);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#earth-logo.night {
    background-image: url(/images/earth_neg.svg);
}

#earth-logo:hover {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#nav-switch {
    display: none;
}

nav {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 20%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    z-index: 0;
}

#main-nav.night {
    display: none;
}

nav ul {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.nav-link {
    position: relative;
    display: inline-block;
    width: 19%;
    text-align: center;
    list-style-type: none;
}

.nav-link a {
    color: #666666;
}

.nav-link.night a {
    color: #EEEEEE;
}

.left-link {
    float: left;
}

.right-link {
    float: right;
}

section {
    font-size: 1em;
    padding-top: 7em;
    padding-bottom: 4em;
    padding-left: 1%;
}

#main.night {
    display: none;
}

#title {
    /*text-align: center;*/
    color: #777777;
    font-size: 1em;
    border-bottom: dotted 2px grey;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    display: inline-block;
}

#title.night {
    display: none;
}

article {
    font-size: 1em;
    width: 90%;
    margin: auto;
    border-left: dotted 2px grey;
    padding-left: 5%;
}

article h4 {
    margin: 0;
    padding-top: 2%;
}

article figure {
    position: relative;
    margin: auto;
    width: 100%;
    /*background-image: url("/AroundTheWorld/images/polaroid.png");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100%;
}

article figure img {
    position: relative;
    width: 40%;
    /*margin-top: 12%;
    margin-bottom: 20%;*/
    height: auto;
}

article figure figcaption {
    position: relative;
    text-align: center;
    font-size: 1em;
}

article .article {
    display: inline-block;
    width: 100%;
}

article .post {
    display: inline-block;
    width: 100%;
    font-family: Josefin Slab;
}

.item-ratio {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
}

.item-ratio:before {
    display: block;
    content: "";
    margin-top: 61.8%;
}

.item {
    font-family: lemon;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.item-frame svg {
    fill: #FFFFFFBB;
    stroke: none;
}

.item-frame {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.7) inset;
}

.item-shape {
    position: absolute;
    display: block;
    bottom: 0;
}

.item-image {
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    background-image: url(/images/frame.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    -webkit-transition: -webkit-filter 1s; /* Safari */
    transition: filter 1s;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.item:hover .item-image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.item-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 2vw;
    color: #454545;
}

.item-title h4 {
    margin: 0;
    -webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
}

.item:hover .item-title h4 {
    /*font-size: 3em;*/
}

.article {
    width: 30%;
}

.post {
    width: 30%;
}

.page {
    width: 30%;
}

aside {
    text-align: center;
}

#disqus-section {
    margin-left: 1%;
    margin-right: 1%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3em;
}

footer.night {
    color: white;
}

#legal-notice {
    text-align: center;
}

#legal-notice p {
    font-size: 0.6em;
}

@media screen and (min-device-width: 980px) and (min-width: 980px) {

    header.day {
        width: 70%;
        left: 15%;
    }

    #background.day {
        display: block;
        background-image: url(/images/background.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% auto;
        text-align: center;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-device-width: 980px), screen and (max-width: 980px) {
    body {
        width: 90%;
    }

    #header-wrap {
        width: 90%;
    }

    .item-title {
        font-size: 2.5vw;
    }
}

@media screen and (max-device-width: 550px), screen and (max-width: 550px) {

    body {
        width: 100%;
    }

    h1 {
        font-size: 4vw;
    }

    .main-title h1 {
        font-size: 5vw;
        vertical-align: middle;
        height: 4rem;
        line-height: 4rem;
    }

    .main-title {
        border-bottom-style : none;
        padding: 0;
    }

    .main-title.night {
        border-bottom-style : none;
    }

    #header-wrap {
        height: 6em;
        width: 100%;
    }

    #main-undertitle {
        position: static;
        display: inline-block;
        width: 20%;
        vertical-align: middle;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        margin: auto;
        max-width: 20%;
        z-index: 1;
        padding: 0;
    }

    #earth-logo {
        background-size: auto 80%;
    }

    #nav-switch {
        transition: right 1s ease;
        position: relative;
        display: block;
        right: 100%;
        width: 110%;
        height: 2em;
        background-color: #FFA265;
        border-radius: 2px;
    }

    #nav-switch.expanded {
        right: 10%;
    }

    #nav-switch .img-wrapper {
        height: 100%;
        position: relative;
        float: right;
    }

    #nav-switch img {
        height: 100%;
    }

    #nav-wrap {
        width: 100%;
        display: block;
    }

    #nav-wrap.day nav {
        transition: right 1s ease;
    }

    #nav-wrap.night nav {
        transition: right 1s ease;
    }
/*
    #nav-wrap.day:hover nav {
        max-height: 80px;
    }

    #nav-wrap.night:hover nav {
        max-height: 80px;
    }*/

    #nav-switch img {
        transition: transform 1s;
        transition: -moz-transform 1s;
        transition: -webkit-transform 1s;
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }

    #nav-switch.expanded img {
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    nav {
        font-size: 1.6em;
        background-color: #EEEEEE;
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        top: 6rem;
        right: 100%;
        padding: 0;
    }

    nav.night {
        background-color: #000000;
    }

    nav ul {
        display: block;
        margin-top: 0;
    }

    .nav-link {
        position: static;
        display: inline-block;
        width: 49%;
        margin: auto;
        margin-bottom: 1%;
    }

    .nav-link a {
        text-overflow: clip;
    }

    section {
        padding-top: 6rem;
        padding-bottom: 4rem;
        font-size: 1rem;
        width: 90%;
        margin: auto;
    }

    #title {
        font-size: 1.2em;
    }

    .item-ratio {
        width: 47%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-top: 2%;
    }

    .item-title {
        font-size: 4vw;
    }

    article figure img {
        width: 100%;
    }

    article figure figcaption {
        font-size: 1rem;
    }
}

@media screen and (max-device-width: 280px), screen and (max-width: 280px) {

    .nav-link {
        width: 100%;
    }

    .item-ratio {
        width: 97%;
    }

    .item-title {
        font-size: 7vw;
    }

    #earth-logo {
        background-size: auto 60%;
    }
}

